.font-little-title {        /* Police petit titre */         
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 19px;
    max-width: 162px;
}

.font-little-title:hover {
    font-weight: 500;
}

.essai {
    font-weight:900;
}

body {
    max-width: 1440px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding-left: 3.93%;
    padding-right: 3.93%;
}

header {                               /*  header   */
    width: 100%;
    display: flex; 
    justify-content: space-between; 
}

.logo{
    width: 61.09px;
    height: 19px;
    margin-top: 44px;
}

#menu {                               /*    Menu   */
    width: 381px;
    height: 67px;
    white-space: nowrap;
    list-style-type: none;
    display: flex;
    justify-content:right;
}

.menu-element {
    text-decoration: none;
    width: 162px;
    height: 65px;
    display: inline-block;
    border-top: 2px #FFFFFF solid;
    box-sizing: border-box;
}

.menu-element:link {
    color: black;
}

.menu-element:visited {
    color: black;
}

.menu-element:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;   
}

.menu-element-1 {
    text-align: center;
    margin-top: 46px;
}




main {                                    /* Main   */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 63px;
}

#introduction {
    width: 100%;
    display: flex;
    flex-direction: column; 
}

#title1 {
    max-width: 575px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4em; 
    color: #000000;
    margin-bottom: 0px;
}

.subtitle {
    max-width: 296px;
    color: #000000;
    margin-top: 8px;
    line-height: 18.78px;
}

#search {    
    display: flex;
    flex-direction: row;

    border: 2px yellow solid;
}

#box_search_holidays {
    width: 332px;
    height: 49px;
}

#search_holidays {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

#box_button_search {

}

#button_search {
    
}