html {
    font-size: 100%;
}

body {
    width: 90%;
    max-width: 1440px;
    padding-left: 50px;
    padding-right: 50px;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
}

.font-little-title {        /* Police petit titre */         
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 19px;
}

.font-middle-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 21px;
}

.font-large-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1.4em; 
    color: #000000;
}

.font-accommodation-name {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 19px; 
}

.font-cost {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    box-sizing: border-box;
}

header {                               /*  header   */
    width: 100%;
    display: flex; 
    justify-content: space-between; 
}

.logo{
    width: 61.09px;
    height: 19px;
    margin-top: 44px;
}

#menu {                               /*    Menu   */
    width: 26.46%;
    height: 67px;
    white-space: nowrap;
    display: flex;
    justify-content:right;
}

.menu-element {
    text-decoration: none;
    width: 162px;
    height: 65px;
    display: inline-block;
    border-top: 2px solid rgba(0, 101, 252, 0);
    box-sizing: border-box;
}

.menu-element:link {
    color: black;
}

.menu-element:visited {
    color: black;
}

.menu-element:hover {
    color: #0065FC;
    border-top: 2px #0065FC solid;   
}

.menu-element-1 {
    text-align: center;
    margin-top: 46px;
}

.menu-element-1:hover {
    font-weight: 500;
}

main {                                    /* Main   */
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 63px;
}

#introduction {
    width: 100%;
    display: flex;
    flex-direction: column; 
}

.title1 {
    max-width: 600px;
    margin-bottom: 0px;
}

.subtitle {
    max-width: 296px;
    color: #000000;
    margin-top: 8px;
    line-height: 18.78px;
}

#search {                      /*    section   search   */
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    border-radius: 15px;
    max-width: 418px;
    height: 51px;
}

.fa-location-dot{
    background: #F2F2F2;
}

.box-search-holidays {
    color: #000000;
    height: 51px;
    border: none;
    outline: none;
    text-align: center;
}

.form-icon-map_background {             
    border: 1px #F2F2F2 solid;
    border-radius: 15px 0px 0px 15px;
    height: 49px;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 18px;
    padding-right: 16px;
}

.search-form {
    display: flex;
    max-width: 418px;
}

.box-button-search {
    height: 49px;
    max-width: 132px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #0065FC;
    border: 1px solid #0065FC;
    border-radius: 0px 15px 15px 0px;
    padding-left: 16px;
    padding-right: 16px;
}

.button-search {
    color: #FFFFFF;
    background: #0065FC;
    border: hidden;
}

.form-paragraph {
    margin-top: 0px;
}

::placeholder {
    color: #000000;
    font-family: 'Raleway';
    align-items: center;
}

.hidden {
    display: none;
    color: #FFFFFF;
}

.box-filters {                      /* section filters  */
    margin-top: 32px;
    max-width: 976px;
    height:50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon-blue {
    color: #0065FC;
}

.filters-font {
    font-size: 1.05rem;
    margin-left: 10px;
    text-align: center;
}

.box-different-filters {
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

.box-different-filters:hover {
    background: #DEEBFF;
}

.filters-subtitle {
    display: flex;
    width: 50rem;
    height: 24px;
    align-items: center;
    margin-top: 38px;
}

.icon-info {
    border: 1px #D9D9D9 solid;
    border-radius: 25px; 
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filters-subtitle-paragraph {
    box-sizing: border-box;
    max-width: 412px;
    margin-left: 11px;
}

.section-accommation-popular {                  /*    section hébergements et Populaire  */
    width: 100%;
    margin-top: 39px;
    display: flex;
}

.box-accommodation {
    width: 60%;
    padding-left: 40px;
    padding-right: 40px;    
}

.card-link_decoration {
    text-decoration: none;
    color: #000000;
}

.box-popular {
    width: 29%;
    margin-left: 40px;
    padding-left: 37px;
    padding-right: 37px;
}

.box-accommodation-popular {/* paramètres communs aux deux box)*/
    height: 626px;
    padding-top: 42px;
    background: #F2F2F2;
    border-radius: 20px;   
}
.accommodation-pictures {
    object-fit: cover;
    width: 100%;
    height:124px;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    box-sizing: border-box;
}

.grid-card-accommodation {
    margin-top: 23px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 199px;
    column-gap: 31px;
    row-gap: 30px;
}

.card {
    background: #FFFFFF;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-accommodation {
    height: 199px;
    box-sizing: border-box;
}

.picture-description {
    height: 75px;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;

}

.position-accommodation-name {
    margin-top: 4px;
    margin-bottom: 0px;
    height: 19px;
    white-space: nowrap;
}

.cost-accommodation {
    height: 16px;
    margin-top: 9px;
    margin-bottom: 0px;
    white-space: nowrap;
}

.text-display-more {
    margin-top: 40px;
}

.header-popular {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.card-popular {
    height: 144px;
    display: flex;
    box-sizing: border-box;
}

.grid-card-popular {
    margin-top: 26px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 33px;
}

.star-blue {
    color:#0065FC;
    width: 0.8rem;
    margin-right: 2px; 
    height: 12px; 
    line-height: 12px; 
}

.star-grey {
    color: #F2F2F2;
    margin-right: 2px;
}

.star-accommodation {
    margin-top: 4px;
    box-sizing: border-box;
}

.popular-photo {
    width: 40%;
    height: 144px;
    box-sizing: border-box;
    border: 5px solid #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    object-fit: cover;
}

.picture-description-popular {
    height: 144px;
    width: 60%;
    padding-left: 15px;
    padding-right: 15px;
}

.position-popular-name {
    height: 38px;
    margin-bottom: 0px;
}

.cost-popular {
    margin-top: 7px;
    height:15px ;
    margin-bottom: 44px;
}

.section-activity {                     /*      SECTION ACTIVITES       */
    width: 100%;
    height: 496px;
    margin-top: 60px;
}

.activity-title-margin {
    margin-top: 0px;
}

.activity-list {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 43px;
    box-sizing: border-box;
}

.card-activity {
    height: 444.5px;
    border-radius: 20px;
    border: 1px #D9D9D9 solid;
    box-sizing: border-box;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-activity-title_margin { 
    margin-left: 19px;
}

.activity-photo {
    height: 388.5px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.footer-properties {                        /* ---FOOTER ---*/
    width: 100%;
    height: 225px;
    margin-top: 60px;
    padding-top: 45px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-around;
}

.footer-list-properties {
    list-style-type: none;
    padding-left: 0px;
}

.footer-title {
    margin-bottom: 20px;
}

.footer-list-element-margin {
    margin-bottom: 12px;
}


@media all and (min-width: 768px) and (max-width: 992px) {
    body {
        width: 90%;
        padding-left: 4%;
        padding-right : 4%;
    }
    .section-accommation-popular {
        flex-direction: column;
    } 
    .box-accommodation-popular {
        width: 100%;
        margin-left: 0px;

    }
    .box-popular {
        margin-top: 50px;
    }
}